<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tourist_guide/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tourist_guide/index.html [L]
</IfModule>